{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="main">
        <div class="title_wrapper">
            <span class="title">
                WikiQuiz
            </span>
        </div>
        <form accept-charset="utf-8" class="search_bar" name="main_search_bar" role="search">
            <label id="nav-search-label" for="search_input">Search</label>
            <input type="text" id="search_input">
        </form>
        <div id="about_wrapper" onclick="revealAbout()">
            <span id="about_title">About</span>
            <div class="about_content" style="display: none">
                WikiQuiz attempts to turn any Wikipedia article into a quiz
            </div>
        </div>
    </div>

{#    <div id="about_box">#}
{#        <h1>About</h1>#}
{#        <p>WikiQuiz generates 5 question quizzes from a wikipedia page.</p>#}
{#    </div>#}
{% endblock content %}

{% block scripts %}

    <script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();
        if(document.querySelector('input').value.indexOf("https://en.wikipedia.org/wiki/") === 0){
            location.assign("/w/" + document.querySelector('input').value.split('/').pop());
        } else {
            // Not a wikipedia article
            alert("Please use an actual Wikipedia article.")
        }
    });

    function revealAbout(){
        $(".about_content").toggle(250, function() {
            // Animation complete.
        });
    }

    window.onload = function() {
      var input = document.getElementById("search_input").focus();
    }
    </script>
{% endblock scripts %}